:root {
	--ifm-color-Beige: #f9f5eb;
	--ifm-color-Grey: #e4dccf;
	--ifm-color-Red: #ea5455;
	--ifm-color-Navy: #002b5b;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

.main {
	margin-top: 0.5%;
	display: flex;
	justify-content: space-between;
	height: 100%;
	height: 100%;
	gap: 0.5%;
	background-color: var(--ifm-color-Beige);
	box-shadow: inset 0 0 10px var(--ifm-color-Navy);
}

.photo {
	padding: 50px;
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo1 {
	width: 100%;
	height: 100%;
}

.right {
	padding: 50px 70px 50px 0px;
	width: 30%;
	height: 120%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login {
	background-color: var(--ifm-color-Grey);
	padding: 10%;
	box-shadow: inset 0 0 10px var(--ifm-color-Grey);
	height: 100%;
	padding-top: 20%;
}

.logh2 {
	background-color: #002b5b;
	height: 100%;
	text-align: center;
	margin-bottom: 15%;
	background-color: var(--ifm-color-Beige);
	box-shadow: inset 0 0 5px;
	border-radius: 10px;
	color: var(--ifm-color-Navy);
	font-weight: bolder;
	justify-content: center;
	text-align: center;
}

.RoleContainer {
	display: flex;
	justify-content: space-around;
	color: var(--ifm-color-Navy);
	font-weight: bolder;
	font-size: 1.5rem;
}

.RoleContainer input {
	margin-left: 1rem;
	display: flex;
	justify-content: center;
	width: 20%;
	height: 20%;
	box-shadow: none;
	margin-bottom: 25%;
}

.RoleContainer1 {
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.RoleContainer1 input {
	display: flex;
	width: 20%;
	height: 20%;
	box-shadow: none;
	color: var(--ifm-color-Navy);
}

input[type="radio"] {
	margin-right: 0;
}

.mainform {
	display: flex;
	flex-direction: column;
}

.labelform {
	margin-bottom: 5px;
	color: var(--ifm-color-Navy);
	font-weight: bolder;
}

.inputemail[type="email"],
.inputpassword[type="password"] {
	display: block;
}
.role {
	display: flex;
	font-size: 12px;
}

.formbutton {
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-left: 35%;
}

.formbutton button {
	background-color: var(--ifm-color-Red);
	color: var(--ifm-color-Navy);
	border-radius: 5px;
	cursor: pointer;
	height: 80px;
	width: 150px;
	font-size: 2rem;
	font-weight: bolder;
}

.formbutton hover {
	background-color: var(--ifm-color-Navy);
	color: white;
	padding: 0px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
