:root {
	--color-success: #b80c2f;
	--color-primary: #626160;
	--color-primary-darkest: #e8e3e3;
	--color-primary-light: #f2f2f2;
	--color-whit: #fffffd;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

.main {
	margin-top: 1%;
	padding: 4%;
	display: flex;
	gap: 2%;
	justify-content: space-between;
	height: 100%;
	height: 100%;
	background-color: var(--color-whit);
}

.photo {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo1 {
	width: 100%;
	height: 100%;
}

.right {
	display: grid;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login {
	border-radius: 10%;
	padding: 15%;
	box-shadow: inset 0 0 10px var(--color-primary);
	padding-top: 15%;
	background-color: #e8e3e3;
}

.logh2 {
	height: 100%;
	text-align: center;
	background-color: var(--color-whit);
	box-shadow: inset 0 0 5px;
	border-radius: 10px;
	color: var(--color-primary);
	font-weight: bolder;
	justify-content: center;
	text-align: center;
	box-shadow: inset 0 0 5px var(--color-success);
}

.RoleContainer {
	display: flex;
	justify-content: space-around;
	color: var(--color-primary);
	font-weight: bolder;
	font-size: 1.5rem;
}

.RoleContainer input {
	margin-left: 1rem;
	display: flex;
	justify-content: center;
	width: 20%;
	height: 20%;
	box-shadow: none;
	margin-bottom: 25%;
}

.RoleContainer1 {
	display: flex;
	justify-content: center;
	font-weight: bold;
}
.RoleContainer1 input {
	display: flex;
	width: 20%;
	height: 20%;
	box-shadow: none;
	color: var(--color-whit);
}

input[type="radio"] {
	margin-right: 0;
}

.mainform {
	display: flex;
	flex-direction: column;
}

.labelform {
	margin-bottom: 5px;
	color: var(--color-primary);
	font-weight: bolder;
	font-size: 1.5rem;
}

.inputemail[type="email"],
.inputpassword[type="password"] {
	display: block;
	border-radius: 10px;
	box-shadow: inset 0 0 5px var(--color-primary);
	background-color: var(--color-whit);
}
.inputpassword {
	margin-bottom: 10%;
}
.role {
	display: flex;
	font-size: 12px;
}

.formbutton {
	justify-content: center;
	align-items: center;
	/* margin-top: 1rem; */
	margin-left: 34%;
}

.formbutton {
	box-shadow: inset 0 0 10px var(--color-success);
	background-color: var(--color-success);
	color: var(--color-whit);
	border-radius: 5px;
	cursor: pointer;
	height: 8%;
	width: 150px;
	font-size: 2rem;
	font-weight: bolder;
}

.formbutton button hover {
	padding: 0px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 5px var(--color-primary);
}
