.main {
	display: flex;
	justify-content: space-between;
	/* align-items: flex-start; */
	padding: 20px;
	height: calc(100vh - 80px);
	gap: 0.5%;
}

.photo {
	width: 70%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo1 {
	width: 100%;
	height: 100%;
}

.right {
	width: 30%;
	/* height: auto; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login {
	background-color: #f2f2f2;
	/* padding: 0 0 2px 0; */
	height: 60%;
	/* margin-bottom: 20px; */
}

.logh2 {
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.5rem;
	font-weight: bold;
}

.mainform {
	display: flex;
	flex-direction: column;
}

.labelform {
	/* margin: 2%; */
	color: black;
}

.inputemail[type="email"],
.inputpassword[type="password"] {
	/* padding: 10px;
	margin: 10px; */
	display: block;
	background-color: #c3b8b8;
}
.role{
	display: flex;
	font-size: 12px;
}


.formbutton[type="submit"] {
	/* background-color: #4caf50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px; */
	cursor: pointer;
	background-color: red;
	color: white;
	padding: 0px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 120px;
	text-align: center;
}

.video1 {
	/* max-width: 100%; */
	height: 100%;
	margin-top: 5px;
	/* position: relative;
	width: 100%; */
}

/* .video1 iframe {
	position: absolute;
	min-width: 29%;
	min-height: 50%;
} */
