@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

.main {
	display: flex;
	justify-content: space-between;

	padding: 20px;
	height: calc(100vh - 80px);
	gap: 0.5%;
}

.photo {
	width: 70%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.photo1 {
	width: 100%;
	height: 100%;
}

.right {
	width: 30%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login {
	background-color: #f2f2f2;
	padding: 60px;

	box-shadow: inset 0 0 5px #d12f2f;
}

.logh2 {
	text-align: center;
	margin-bottom: 10px;
	background-color: #d7dadd;
	box-shadow: inset 0 0 5px #d12f2f;
	border-radius: 10px;
	color: #e50303;
	font-weight: bolder;
	padding-left: 25px;
	justify-content: center;
	text-align: center;
}

.RoleContainer {
	display: flex;
	justify-content: space-around;
	color: #d12f2f;
	font-weight: bold;
}

.RoleContainer input {
	margin-left: 1rem;
	display: flex;
	justify-content: center;
	width: 20px;
	height: 20px;
	box-shadow: none;
}

.RoleContainer1 {
	display: flex;
	justify-content: center;
	color: #d12f2f;
	font-weight: bold;
}
.RoleContainer1 input {
	display: flex;
	width: 20px;
	height: 20px;
	box-shadow: none;
}
input[type="radio"] {
	margin-right: 0;
}

.mainform {
	display: flex;
	flex-direction: column;
}

.labelform {
	margin-bottom: 5px;
	color: #d12f2f;
	font-weight: bold;
}

.inputemail[type="email"],
.inputpassword[type="password"] {
	display: block;
	background-color: #c3b8b8;
}
.role {
	display: flex;
	font-size: 12px;
}

.formbutton {
	justify-content: center;
	text-align: center;
	margin-top: 1rem;
}

.formbutton {
	justify-content: center;
	text-align: center;
	background-color: #d12f2f;
	color: white;
	padding: 0px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	/* vertical-align: middle;
	margin-left: 5.5rem;
	border: solid 1px rgb(99, 98, 98); */
	height: 40px;
	width: 120px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.formbutton hover {
	background-color: #e50303;
	color: white;
	padding: 0px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.video1 {
	height: 100%;
	margin-top: 5px;
}
