form {
width: 500px;
height: 500px;
 text-align: center;
 justify-content: center;
 background: #dad7d7;
 margin: 5rem;
 padding: 5rem;
 border-radius: 2rem;  
};

form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}
label{
    color: rgb(108, 106, 106);
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  
   
}

.right-label {
    float: right;

    cursor: pointer
}


input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #efeded;};
    
    
