form {
	width: 500px;
	height: 500px;
	text-align: center;
	justify-content: center;
	background: #dad7d7;
	margin: auto;
	padding: 10px;
	border-radius: 2rem;
	font-family: "Raleway", sans-serif;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin-bottom: 100px;
}

form label {
	justify-self: center;
	font-size: 0.9rem;
	margin-left: 250px;
	padding: 150px;
	border-radius: 10px;
}
label {
	color: rgb(108, 106, 106);
	font-size: 1.2rem;
}

.right-label {
	float: right;

	cursor: pointer;
}
input::placeholder {
	color: rgb(190, 190, 190);
	font-size: 0.7rem;
	font-style: italic;
}

input {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #efeded;
}
