button {
	background-color: #e50303;
	color: white;
	border-radius: 12px;
	cursor: pointer;
	width:8rem;
	opacity: 1;
	height: 3rem;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

button:hover {
	background-color:#e50303 ;
	color: white;
	border: solid 4px  white;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
	float: left;
	width: 5%;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
