button {
	background-color: #e50303;
	color: white;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 25px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	width: 25%;
	opacity: 10;
	height: 2rem;
}

button:text {
	background-color: black;
}

button:hover {
	background-color: #790503;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
	float: left;
	width: 5%;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
