:root {
	--color-success: #b80c2f;
	--color-primary: #626160;
	--color-primary-darkest: #e8e3e3;
	--color-primary-light: #f2f2f2;
	--color-whit: #fffffd;
}

.single_container {
	box-shadow: inset 0 0 10px var(--color-primary);
	background-color: var(--color-primary-light);
	padding: 50px;
}
.single_container h2 {
	font-weight: bold;
	color: var(--color-success);
	background-color: var(--color-primary-light);
	box-shadow: inset 0 0 10px var(--color-primary);
	padding-left: 50px;
}
.single_container p {
	padding: 1%;
	font-size: 2rem;
	box-shadow: inset 0 0 3px var(--color-primary);
}
