.Box {
	margin: 8px;
	border: 5px black;
	background: white;
	border-radius: 5px;
	border-color: red;
	box-sizing: 4;
	border-radius: 5px;
	padding: 6px;
	height: 40px;
	width: 190px;
	text-align: center;
}

.Box_content {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

#box1 {
	background: white;
	border-radius: 5px;

	padding-left: 0px;
	color: red;
	height: 30px;
	margin-left: 0px;
}
a:link,
a:visited {
	background-color: white;
	color: red;
	padding: 4px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:active,
a:hover {
	background-color: white;
	color: red;
}
