form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgb(250, 249, 249);
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;

}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(75, 26, 26, 0.2);
    max-width: 300px;
    height: 400px;
    text-align: left;
    font-family: arial;
    margin: 10px 10px;
    justify-content: center;
  }
  label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
    color: rgb(171, 170, 170);

  }

input[type="text"],
input[type="number"],
input[type="link"],
select {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(86, 34, 34, 0.3);
  width: 80%;
  font-size: 10px;
  color: rgb(69, 68, 68);
  margin: 10px;

}
h1 {
    color: rgb(248, 11, 11);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
  }
  .card2{
    box-shadow: 0 4px 8px 0 rgba(73, 10, 10, 0.2);
    max-width: 300px;
    height: 400px;
    text-align: left;
    font-family: arial;
    margin: 10px 10px;
    justify-content: center;
  }

  .card3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: 400px;
    text-align: left;
    font-family: arial;
    margin: 10px 10px;
    justify-content: center;
  }

.socialCard{
box-shadow: 0 4px 8px 0 rgba(73, 10, 10, 0.2);
margin-top: 10px;
width: 280px;
height: 50px;
margin-left: 10px;
padding-right: 0px;
padding-left: 0px;
margin-right: 10px;
padding-top: 15px;
padding-bottom: 0px;

}
  .socialCard a{

   margin-left: 30px;
   padding: 2px;
   color:rgb(248, 11, 11) ;
}
.card-5{
  padding-left: 0;
  justify-content:space-evenly ;
}

.Educations_container{
background-color:rgb(250, 249, 249);
display: grid;
grid-template-columns: 1fr ;
grid-template-rows: auto;
margin-top: 0;
margin-left: 100px;
margin-right: 100px;
}

button{
  background-color: rgb(248, 11, 11);
  width: 150px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 30px;
  }





