body {
	font-family: "Raleway", sans-serif;
}

#menu li {
	display: inline;
	list-style: none;
	padding: 0;
}

#menu li a {
	border: 1px solid white;
	padding: 15px 20px 15px 20px;
	text-decoration: none;
	color: black;
	margin-left: -5px;
	background-image: url("image.jpg");
	background-position: left;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
}

#menu li a:hover {
	color: white;
	background-position: right;
}
