body {
	font-family: "Raleway", sans-serif;
}
:root {
	--color-success: #b80c2f;
	--color-primary: #626160;
	--color-primary-darkest: #d4cfc2;
	--color-primary-light: #f2f2f2;
	--color-whit: #fffffd;
}

.MenuRow {
	background-color: var(--color-primary-light);
	display: flex;
	height: 90px;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	box-shadow: inset 0 0 10px var(--color-primary);
	margin-bottom: 0;
	padding-right: 200px;
	padding-left: 100px;
	padding-bottom: 100px;
	border-radius: 10px;
}
