@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");

.signUpInfoContainer {
	box-shadow: inset 0 0 10px var(--ifm-color-primary-darkest);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	height: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 100px;
}


.signUpInfoContainer form {
	box-shadow: inset 0 0 10px var(--ifm-color-secondary-darkest);
	width: 600px;
	height: 750px;
	text-align: center;
	justify-content: center;
	background: #dad7d7;
	border-radius: 2rem;
	padding-top: 4rem;
}
.signUpInfoContainer h2 {
	font-family: Open Sans;
	display: grid;
	background-color: rgb(218, 216, 216);
	color: #e50303;
	font-size: 2rem;
	font-weight: bolder;
}

.emailLabel label {
	display: flex;
	margin-top: 50px;
	color: #e50303;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 1.5rem;
	height: 50px;
	margin-bottom: 0;
	padding-left: 4rem;
}
.graduateLabel label {
	display: flex;
	color: #e50303;
	font-family: Open Sans;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 0;
	padding-left: 3rem;


}
.graduateLabel ::placeholder {
	font-size: 1rem;
	padding-left: 15px;
}
.emailLabel ::placeholder {
	font-size: 1rem;
	padding-left: 20px;
}
#certificateNumHelp {
	font-family: Open Sans;
	font-size: 1rem;
	color: rgb(151, 150, 150);
}
.graduateLabel input  {
	width: 500px;
	padding: 15px;
	display: inline-block;
	border: none;
	background: var(--ifm-color-secondary-contrast-background);
	border-radius: 2rem;
}

.emailLabel input {
	background: var(--ifm-color-secondary-contrast-background);
	border-radius: 2rem;
	width: 500px;
	height: 60px;
	margin-top: 0;
	margin-bottom: 50px;
}
.graduateLabel input {
	background: var(--ifm-color-secondary-contrast-background);
	border-radius: 2rem;
	width: 500px;
	height: 60px;
}

.signUpHeader {
	font-size: 1rem;
}
form > div {
	margin: 0.5rem;
}

form > div > label {
	margin: 0.5rem;
}
form > div > input {
	padding: 0.5rem;
	min-width: 20rem;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.btn_secondary {
	margin-top: 50px;
	background-color: #e50303;
	color: white;
	font: 1.5em Open Sans;
	border-radius: 12px;
	cursor: pointer;
	width: 10rem;
	opacity: 1;
	height: 4rem;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	position: relative;
	justify-content: center;
}

.btn_secondary:hover {
	background-color: #e50303;
	color: white;
	border: solid 4px white;
}
